.bg-img {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.256)), url(./keith-misner-h0Vxgz5tyXA-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.coverImg {
    border-radius: 50%;
    width: 80%;
    height: 50vh;
}

.progress-bar {
    background-color: rgba(191, 52, 6, 0.856);
}

.fontMain {
    font-family: 'Unbounded', cursive;

}